@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	margin: 0px;
	padding: 0px;
	background-color: #F6F6F6;
	background-image: url(images/bg-login.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
}
* {
	margin: 0px;
	padding: 0px;
}
.left {float:left;}
.right {float:right;}
.cboth {clear:both;}
.s10 {height:10px;}
.s20 {height:20px;}
.s30 {height:30px;}
.s40 {height:40px;}
.s50 {height:50px;}
.s60 {min-height:51px; background-image:url(images/top-bg-logn.jpg); 
background-position:center center; 
background-repeat:no-repeat; 
 
background-size:cover;
width:54.5%;
margin:auto auto 10px auto ;}
.s70 {height:70px;}
.s80 {height:80px;}
.topbar {
	background-image: url(images/shade_top.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.logo_box {
	padding-top: 10px;
	padding-left: 10px;
}
.redbar {
	background-image: url(images/red_bar.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 40px;
}
.redbox_cont {
	margin: auto;
	height: 40px;
	width: 1000px;
}
.redbox_cont h2 {
	line-height: 40px;
	color: #FFFFFF;
	padding-left: 10px;
}
.container {
	margin: auto;
	width: 920px;
	margin-top: 10%;
}
h1 {
	font-family: "Open Sans", Arial, Helvetica, San-serif;
	font-size: 24px;
	font-weight: normal;
}
.ac {
	text-align: center;
}
.user {
	float: right;
	color: #FFFFFF;
	padding-top: 11px;
	padding-right: 10px;
}
.user span {
	padding-right: 11px;
	padding-left: 11px;
	color: rgba(255, 255, 255, 0.5);
}
.user a {
	color: #FFFFFF;
	text-decoration: none;
}
.modules  {
	float: left;
	width: 290px;
	margin-right: 15px;
	margin-bottom: 33px;
	position: relative;
}
.modules .module_logo {
	float: left;
	height: 85px;
	width: 85px;
	margin-right: 15px;
}
.modules .module_detail {
	float: left;
	width: 190px;
	height: 120px;
	overflow: hidden;
}
.modules .module_detail p {
	color: #999999;
}

.module_detail h3 {
	font-family: "Open Sans", Arial, Helvetica, San-serif;
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 8px;
	padding-top: 0px;
}
.enter {
	width:80px;
	height:0px;



transition:height .6s;
-ms-transition:height .6s; /* Firefox 4 */
-moz-transition:height .6s; /* Firefox 4 */
-webkit-transition:height .6s; /* Safari and Chrome */
-o-transition:height .6s; /* Opera */
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-align:right;
	position:absolute;
	top:-10px;
	right:0px;
	background-image: url(images/enter_bg.png);

}
.modules:hover  .enter {
	height:65px;
}
.enter:hover {
	background-image: url(images/enter_bg_h.png);
}
.login_tab {
	margin: auto;
}
.login_tab th {
	text-align: left;
	padding-top: 12px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 6px;
	font-size: 14px;
}
.login_tab td {
	padding: 6px;
}.tbox1 {
	padding: 10px;
	width:95%;
	border: 1px solid #CCCCCC;
}
.btn_login {
	background-color:#4b4b4d;
	background-repeat: repeat-x;
	background-position: left top;
	color: #FFFFFF;
	border: 1px solid #3c3c3c;
	width:25%;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	cursor:pointer;
	margin-right: 0px;
	font-size:16px;
}
.login {
	width: 50%;
	margin: auto;
	padding: 20px;
	border: 1px solid #8f9193;
	background-color: #FFFFFF;
}
.login .form_hd {
	font-weight: bold;
	font-size: 16px;
	display: block;
	padding-bottom: 6px;
}
.login .form {
	padding-bottom:30px;
}
.rememberme{float:right;
font-size:16px;
margin-top:30px;
width:50%;
}
