.droplinetabs{
	overflow: hidden;
	margin: auto;
	width: 90%;
	min-width: 1000px;
	padding-top: 12px;
	
}
.droplinetabs li:first-child a{
	background-image: url(images/icon_home.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding-left:30px;
}
.droplinetabs li:first-child a:hover{
	background-image: url(images/icon_home_h.png);
}
.droplinetabs li ul li:first-child a{
	background-image: none;
	padding-left:0px;
}
.droplinetabs li ul li:first-child a:hover{
	background-image: none;
}
.droplinetabs li a:hover {
	color: #A4C371;
	background-color:#FFFFFF;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.droplinetabs ul{
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
}

.droplinetabs li{
	display: inline;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.droplinetabs li a{
	color: #FFFFFF;
	display: inline-block;
	line-height: 40px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 4px;
	padding-right: 6px;
	padding-left: 16px;
	}
.droplinetabs a{
	float: left;
	color: #333;
	text-decoration: none;
	line-height: 40px;
	margin-top: 0;
	margin-right: 4px;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0px;
}

.droplinetabs a:link, .droplinetabs a::visited, .droplinetabs a:active{
color: #333333;
}

.droplinetabs a span{
	float: left;
	display: block;
	background: transparent url(rightedge.gif) no-repeat right top;
	cursor: pointer;
	color: #FFF;
	font-weight: bold;
	padding-right: 9px;
	padding-left: 6px;
}

.droplinetabs a span{
	float: none;
	color: #FFF;
}


.droplinetabs a:hover{
	color: #70A124;
}

.droplinetabs a:hover span{
	background-color: transparent;
	color: #70A124;
	background-image: url(images/menu_current.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
}

/* Sub level menus*/
.droplinetabs ul li ul{
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0; /*sub menu background color */
	visibility: hidden;
	background-color: #FFFFFF;
	background-image: url(images/ddown_bg.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	color: #333;
	padding: 20px;
}

/* Sub level menu links style */
.droplinetabs ul li ul li a{
	padding-right: 0px;
	margin: 0; /*sub menu background color */
	float: left;
	width: 240px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	background-color: transparent;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #333;
	line-height: 12px;
	text-transform: capitalize;
}

.droplinetabs ul li ul li a span{
	background-color: transparent;
	color: #333;
}

.droplinetabs ul li ul li a:hover{ /*sub menu links' background color onMouseover. Add rounded edges in capable browsers */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color: #70A124;
}
.mm {
	color: #333;
}
